:root {
  --laço: #fbd5e5;
  --perola:#FFF4F2;
}

body {
  background-color: var(--perola);
    font-family: "Taviraj", serif;
    font-weight: 400;
    font-style: normal;
  }

h1 {
  color: var(--laço);
}

.icon {
  width: 20%;
}

