:root {
  --laço: #fbd5e5;
  --perola:#FFF4F2;
  --diamante: #f96995;
  --ballet: #f85084;
  --wine: #4a0218;
}

/* adicionar -- + nome da variavel + codigo da cor, para que seja mais facil puxar a variavel*/

body {
  background-color: var(--perola);
    font-family: "Taviraj", serif;
    font-weight: 400;
    font-style: normal;
  }

h1 {
  color: var(--diamante);
}

.icon {
  width: 20%;
}

span{
  color: var(--ballet)
}

.contagem-regressiva{
  text-align: center;
  margin-top: 50px;
}

.objetivos{
  padding: 20px;
}

.ativo{
  border: 0;
  border-bottom: 3px solid #4a0218;
}