:root {
  --laço: #fbd5e5;
  --perola: #fdeaf2;
}

body {
  background-color: var(--laço);
    font-family: "Taviraj", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  }
  
}

h1 {
  color: var(--perola);
}

.icon {
  width: 20%;
}

